/* первичный цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* основной цвет фона #ffffff */
/* вторичный цвет фона #F5F4FA */
/* акцент #2196F3 */
/* белый #ffffff */
/* фон футера #2F303A */
/* основной цвет лого #000000 */

:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --footer-bg-color: #2f303a;
  --main-logo-color: #000000;
}

.body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
}

/* стили списков */
.list {
  list-style: none;
  padding-left: inherit;
}

/* стили ссылок */
.logo-link,
.nav-link,
.nav-info-link,
.link {
  text-decoration: none;
}
/* стили хедера */
.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1738;
  color: var(--main-logo-color);
}

.logo-link > .logo-web {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.nav-link,
.info-link {
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  line-height: 1, 1721;
  color: inherit;
}
.header .info-link {
  color: var(--text-color);
}

.nav-link:focus,
.nav-link:hover,
.info-link:focus,
.info-link:hover {
  color: var(--accent-color);
}
